#logo{
  width: 30%;
  margin-left: 33%;
  margin-top: 5%;
}

#bild1{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  height: auto;
}

#bild2{
  position: absolute;
  top: 15%;
  right: 5%;
  width: 30%;
  height: auto;
}

#bild3{
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 30%;
  height: auto;
}

#bild4{
  position: absolute;
  top: 40%;
  right: 18%;
  width: 10%;
  height: auto;
}

h1 {

  display: block;
  color: white;
  text-align: center;
  font-size: 500%;
  padding: 16px 20px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
