img.linksoben {

  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 90px;
}

img.rechtsoben {

  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 40px;
}

img.rechtsunten {

  position: absolute;
  right: 0;
  bottom: 0;
  width: 20px;
  height: 40px;
}

img.linksunten {

  position: absolute;
  bottom: 0;
  top: 0;
  width: 20px;
  height: 40px;
}

section.info {

  position: fixed;
  left: 0;
  top: 0;
  width: 50;
  height: 100;
}
